version: "3.9"

services:
  mysql:
    build: ./database
    container_name: iot-mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  server:
    build: ./server
    container_name: iot-server
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    env_file:
      - .env

volumes:
  mysql_data:
